main {
    height: 1080px;
    width: 1920px;
}
#kitchen {
    position: absolute;
    top: 720px;
    left: 640px;
}
#pancake {
    width: 640px;
    height: 20px;
    background: yellow;
    display: block;
}
#pan {
    width: 640px;
    height: 20px;
    background: red;
    display: block;
    position: relative;
    top: 0;
}
.doAflip {
    animation-name: flip;
    animation-duration: 2500ms;
    /* animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0); */
    animation-timing-function: ease-in;
}
@keyframes flip {
    50%  {
        transform: translateY(-640px);
    }
    100% {
        transform:rotate(180deg);
    }
}